/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Roboto", serif;
    font-size: 24px;
    font-weight: bold;
}

button {
    border: none;
}

/* Background */
body {
    background-image: linear-gradient( #A8D1FF,#2B7CFF);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Main */
    .container-bingo {
    border-radius: 32px;
    height: 90vh;
    width: 90vw;
    background-color: #efefef;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(21, 21, 32, 0.5);
}

.container-hub {
    display: flex;
    align-items: end;
    width: 90%;
    height: fit-content;
    padding: 1rem 0;
}

/* BOTÕES */
.container-button {
    flex: 1;
    display: flex;
    width: 30%;
}

.container-button button {
    border-radius: 5rem;
    line-height: normal;
    height: 2rem;
    width: 6rem;
    margin-right: 1rem;
    font-weight: 600;
    transition: 0.4s;
    border: 2px solid #2B7CFF;
    color: #2B7CFF;
}

.container-button button:hover {
    color: #1972ff;
    border: 2px solid #1972ff;
    background-color: #C8F1FF;
    cursor: pointer;
}

/* Ultimo número */
.container-last-number {
    display: flex;
    gap: .4rem;
    justify-content: end;
}

.container-last-number p{
    color: #1972ff;
    line-height: 18vh;

}

.container-last-number i{
    font-size: 1.4rem;
}

.last-number {
    height: 18vh;
    width: 18vh;
    border: 4px dashed #1972ff;
    color: #1972ff;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

/* NÚMEROS */

#container-numbers {
    height: 70%;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
}

.number {
    color: #1972ff;
    border: 2px solid #1972ff;
    width: 2.4rem;
    height: 2.4rem;
    margin: 7.5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    transition: .3s;
    cursor: pointer;
}

.number:hover {
    background-color: #ddd;
}

.chosen {
    background-color: #1972ff;
    color: #f5f5f5;
    border: none;
}

.chosen:hover {
    background-color: #1972ff;
}

/* ALERTA */
.alert {
    position: absolute;
    right: 50vw - 400px;
    top: 25%;
    height: 300px;
    width: 800px;
    background-color: #f5f5f5;
    border-radius: 1rem;
    padding: 4rem 2rem;
}

.alert p {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 2rem;
}

.container-options {
    display: flex;
    justify-content: space-around;
}

.option {
    font-size: 1.4rem;
    padding: 1rem 2rem;
    border-radius: 3rem;
    transition: .3s;
    color: #111;
}

.back {
    background-color: #dd3333;
}

.back:hover {
    cursor: pointer;
    background-color: #bb1111;
    color: #000;
}

.remove {
    background-color: #dd9933;
}

.remove:hover {
    cursor: pointer;
    background-color: #cc8822;
    color: #000;
}

.celebration {
    transition: .5s;
    position: absolute;
    top:0;
    height: 100%;
    border-radius: 1rem;
}

/* Responsividade */
@media(max-width: 1290px) {
    body {
        height: auto;
    }

    .container-last-number {
        display: flex;
        gap: .4rem;
        justify-content: end;
    }
    
    .container-last-number p{
        color: #1972ff;
        line-height: 18vh;
    
    }
    
    .container-last-number i{
        font-size: 1.4rem;
    }

    .container-bingo {
        height: auto;
    }
    

    #container-numbers {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
}

/* Tablet */
@media(max-width: 768px) {
    
}

@media(max-width: 430px) {
}

@media(max-width: 320px) {
}